
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
empathy

*~
/*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/tmp #temporary files
/empathy #output build
/.idea/*
/.idea/dictionaries/*
/.idea

/docs


/dist/*
/ikpMP3.so
!/dist/libs