<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <base href="https://underscoredam.github.io/empathy/" target="_blank">
        <title>
            Empathy by underscoredam
        </title>
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="stylesheets/custom.css"/>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">
                            Toggle navigation
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <a href="/">Empathy</a>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/docs">
                                Docs
                            </a>
                        </li>
                        <li>
                            <a href="/tutorials">
                                Tutorials
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.nav-collapse -->
            </div>
        </nav>
        <div class="main-wrap">
            <div class="container-full">
                <section class="page-header">
                    <div class="clear clearfix"></div>
                    <h1 class="project-name">
                        Empathy
                    </h1>
                    <h2 class="project-tagline">
                        Immerse in the pool of your own emotions!
                    </h2>
                    <a href="https://github.com/underscoredam/empathy" class="btn btn-lg btn-success header-btn">
                        View on GitHub
                    </a>
                    <a href="https://github.com/underscoredam/empathy/zipball/master" class="btn btn-lg btn-success header-btn">
                        Download Source
                    </a>
                    <a href="docs" class="btn btn-lg btn-success header-btn">
                        Code Documentation
                    </a>
                    
                </section>
                <section class="main-content">
                
                <div class="container">
                    {{content}}
                </div>
                    
                    
                    <footer class="site-footer container">
                        <span class="site-footer-owner">
                            <a href="https://github.com/underscoredam/empathy">
                                Empathy
                            </a>
                            is maintained by
                            <a href="https://github.com/underscoredam">
                                underscoredam
                            </a>
                            .
                        </span>
                        <span class="site-footer-credits">
                            Built to <a href="http://www.lifehack.org/articles/featured/10-small-ways-to-make-the-world-a-better-place.html" title="Making the world a better place">share &lt;3</a> around the world!
                        </span>
                    </footer>
                </section>
            </div>
        </div>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
            var pageTracker = _gat._getTracker("UA-74846320-1");
            pageTracker._trackPageview();
            } catch(err) {}
        </script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>
        <script src="js/bootstrap.min.js" >
        </script>
    </body>
</html>
